# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
media/

# Static files
staticfiles/
static/

# Environment variables and secrets
.env
*.env
config/settings/local.py
config/settings/dev.py
secrets.json

# IDE / Editor files
.idea/
.vscode/
*.sublime-workspace

# MacOS / Linux system files
.DS_Store
*.swp
