<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome to MoneyLoop!</title>
</head>
<body>
  <p>Dear {{ user.first_name }},</p>
  <p>Welcome to MoneyLoop! We are thrilled to have you join our community.</p>
  <p>As a member, you can:</p>
  <ul>
    <li>Participate in group contributions</li>
    <li>Manage your contributions and payouts</li>
    <li>Connect with other members</li>
  </ul>
  <p>To get started, please log in to your account and explore the features available to you.</p>
  <p>If you have any questions, feel free to reach out to our support team.</p>
  <p>Best regards,<br/>-MoneyLoop Team</p>
</body>
</html>
